

.footer{
background:#e7fafe;
text-align: center;
margin: 7rem ;
border-radius: 30px;
padding: 0;



}

.footer-form{
    display: flex;
}
.footer h1{
    font-size: 48px;
}

.footer p{
    margin: 0 5rem 2rem ;
}

.footer img{
    width: 6rem;
}

.footer-address{
    display: flex;
    justify-content: space-between;
}
.footer-input{
    padding: 1.5rem 5rem;
    border: none;

}

